@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.navbar-brand {
  font-family: "Silkscreen", cursive;
}

.links {
  font-family: "Staatliches", cursive;
  color: black;
}

.card-text-subtitle {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 1.5em;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: #337dbd;
  padding-top: 15px;
  text-align: center;
}

.footer-title{
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.2em;
  text-align: center;
}



footer{
  background-color: rgb(17, 16, 16);
}

.icon{
  padding-left: 10px;
  padding-top: 10px;
  transition: transform .2s;
}

.icon:hover{
  transform: scale(1.5);
}

.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{
  width:100%;

  position:absolute;

}

tr,
th,
td {
  font-size: 1.1em;
  border: 1px solid #ddd;
  padding: 4px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

.myContainer {
  margin-top: 3%;
}

.ctn {
  background-color: black;
}

figcaption {
  padding: 5px;
  font-style: italic;
  text-align: center;
}